@keyframes cardflipX
	0%
		transform rotateX(0deg) scale3d(1, 1, 1)
	50%
		transform rotateX(180deg) scale3d(1.1, 1.1, 1)
	100%
		transform rotateX(360deg) scale3d(1, 1, 1)

@keyframes cardflipY
	0%
		transform rotateY(0deg) scale3d(1, 1, 1)
	50%
		transform rotateY(180deg) scale3d(1.1, 1.1, 1)
	100%
		transform rotateY(360deg) scale3d(1, 1, 1)

@keyframes thumbHoverFaces
	0%
	33%
		opacity 1
	34%
	100%
		opacity 0
@keyframes thumbHoverRarity
	0%
	33%
	67%
	100%
		opacity 0
	34%
	66%
		opacity 1
@keyframes thumbHoverType
	0%
	33%
	66%
		opacity 0
	67%
	100%
		opacity 1

card
	margin auto
	display inline-block
	position relative
	z-index 1
	&:not([thumb])
		width 104px
		height 128px
		transform-style preserve-3d
		backface-visibility hidden
		&:after
			display none
			content ""
			background url('/images/ui/card back.png')
			position absolute
			top 0 
			left 0 
			right 0
			bottom 0
			transform rotateY(180deg)
			transform-style preserve-3d
			backface-visibility hidden
		&.flipX
			animation cardflipX 0.5s linear
			-webkit-animation cardflipX 0.5s linear
			&:after
				display block
		&.flipY
			animation cardflipY 0.5s linear
			-webkit-animation cardflipY 0.5s linear
			&:after
				display block
	img
		position absolute
		&.star
			top 6px
			left 9px
		&.type
			top 3px
			right 4px
		&.card-top
			bottom 26px
			left 44px
		&.card-left
			bottom 19px
			left 32px
		&.card-bottom
			bottom 12px
			left 44px
		&.card-right
			bottom 19px
			right 33px
	&[thumb]
		width 40px
		height 40px
		margin 5px
		div.effects
			position absolute
			width 48px
			height 48px
			top -3px
			left -3px
			background-image url('/images/ui/icona_frame.png')
		div.overlay
			div.numbers
				opacity 0
			img
				position absolute
				&.star
					opacity 0
					top 7px
					left 6px
				&.type
					opacity 0
					top 10px
					right 10px
				&.card-top
					top 0
					left 13px
				&.card-bottom
					bottom 0
					left 13px
				&.card-left
					top 14px
					left 0
				&.card-right
					top 14px
					right 0
		&:hover
			div.effects
				background-position 47px 0px
			div.overlay
				display block
				position absolute
				width 100%
				height 100%
				top 0
				left 0
				div.numbers
					-webkit-animation thumbHoverFaces 4.5s
					-webkit-animation-iteration-count infinite
					animation thumbHoverFaces 4.5s
					animation-iteration-count infinite
				img.star
					-webkit-animation thumbHoverRarity 4.5s
					-webkit-animation-iteration-count infinite
					animation thumbHoverFaces 4.5s
					animation-iteration-count infinite
				img.type
					-webkit-animation thumbHoverType 4.5s
					-webkit-animation-iteration-count infinite
					animation thumbHoverFaces 4.5s
					animation-iteration-count infinite