* {
  box-sizing: border-box;
}
*[draggable=true] img {
  pointer-events: none;
}
body {
  background-color: #555;
}
body triad-table {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
body triad-table board {
  width: 518px;
  height: 556px;
  padding: 74px 55px;
  display: inline-flex;
  flex-flow: row wrap;
  position: relative;
}
body triad-table board:after {
  content: "";
  width: inherit;
  background: url("/images/ui/board-frame.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}
body triad-table board space {
  display: flex;
  position: relative;
  background: url("/images/ui/space.png");
  width: 136px;
  height: 136px;
}
body triad-table board space:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body triad-table board space:nth-child(odd):before {
  background: rgba(0,0,0,0.15);
}
body triad-table board space.blue:before {
  background: rgba(0,0,255,0.15);
}
body triad-table board space.red:before {
  background: rgba(255,0,0,0.15);
}
body triad-table deck {
  display: inline-block;
}
body triad-table deck .deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 312px;
}
body triad-table deck space {
  position: relative;
  width: 104px;
  height: 128px;
  display: inline-block;
}
body triad-table card {
  margin: auto;
  display: inline-block;
  position: relative;
}
body triad-table card:not([thumb]) {
  width: 104px;
  height: 128px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
body triad-table card:not([thumb]):after {
  display: none;
  content: "";
  background: url("/images/ui/card back.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
body triad-table card:not([thumb]).flip {
  animation: cardflip 0.65s linear;
  -webkit-animation: cardflip 0.65s linear;
}
body triad-table card:not([thumb]).flip:after {
  display: block;
}
body triad-table card img {
  position: absolute;
}
body triad-table card img.star {
  top: 6px;
  left: 9px;
}
body triad-table card img.type {
  top: 3px;
  right: 4px;
}
body triad-table card img.card-top {
  bottom: 26px;
  left: 44px;
}
body triad-table card img.card-left {
  bottom: 19px;
  left: 32px;
}
body triad-table card img.card-bottom {
  bottom: 12px;
  left: 44px;
}
body triad-table card img.card-right {
  bottom: 19px;
  right: 33px;
}
body triad-table card[thumb] {
  width: 40px;
  height: 40px;
  margin: 5px;
}
body triad-table card[thumb] div.effects {
  position: absolute;
  width: 48px;
  height: 48px;
  top: -3px;
  left: -3px;
  background-image: url("/images/ui/icona_frame.png");
}
body triad-table card[thumb] div.overlay div.numbers {
  opacity: 0;
}
body triad-table card[thumb] div.overlay img {
  position: absolute;
}
body triad-table card[thumb] div.overlay img.star {
  opacity: 0;
  top: 7px;
  left: 6px;
}
body triad-table card[thumb] div.overlay img.type {
  opacity: 0;
  top: 10px;
  right: 10px;
}
body triad-table card[thumb] div.overlay img.card-top {
  top: 0;
  left: 13px;
}
body triad-table card[thumb] div.overlay img.card-bottom {
  bottom: 0;
  left: 13px;
}
body triad-table card[thumb] div.overlay img.card-left {
  top: 14px;
  left: 0;
}
body triad-table card[thumb] div.overlay img.card-right {
  top: 14px;
  right: 0;
}
body triad-table card[thumb]:hover div.effects {
  background-position: 47px 0px;
}
body triad-table card[thumb]:hover div.overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
body triad-table card[thumb]:hover div.overlay div.numbers {
  -webkit-animation: thumbHoverFaces 4.5s;
  -webkit-animation-iteration-count: infinite;
  animation: thumbHoverFaces 4.5s;
  animation-iteration-count: infinite;
}
body triad-table card[thumb]:hover div.overlay img.star {
  -webkit-animation: thumbHoverRarity 4.5s;
  -webkit-animation-iteration-count: infinite;
  animation: thumbHoverFaces 4.5s;
  animation-iteration-count: infinite;
}
body triad-table card[thumb]:hover div.overlay img.type {
  -webkit-animation: thumbHoverType 4.5s;
  -webkit-animation-iteration-count: infinite;
  animation: thumbHoverFaces 4.5s;
  animation-iteration-count: infinite;
}
@-moz-keyframes cardflip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes cardflip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
@-o-keyframes cardflip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
@-ms-keyframes cardflip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
@keyframes cardflip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
@-moz-keyframes thumbHoverFaces {
  0%, 33% {
    opacity: 1;
  }

  34%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes thumbHoverFaces {
  0%, 33% {
    opacity: 1;
  }

  34%, 100% {
    opacity: 0;
  }
}
@-o-keyframes thumbHoverFaces {
  0%, 33% {
    opacity: 1;
  }

  34%, 100% {
    opacity: 0;
  }
}
@-ms-keyframes thumbHoverFaces {
  0%, 33% {
    opacity: 1;
  }

  34%, 100% {
    opacity: 0;
  }
}
@keyframes thumbHoverFaces {
  0%, 33% {
    opacity: 1;
  }

  34%, 100% {
    opacity: 0;
  }
}
@-moz-keyframes thumbHoverRarity {
  0%, 33%, 67%, 100% {
    opacity: 0;
  }

  34%, 66% {
    opacity: 1;
  }
}
@-webkit-keyframes thumbHoverRarity {
  0%, 33%, 67%, 100% {
    opacity: 0;
  }

  34%, 66% {
    opacity: 1;
  }
}
@-o-keyframes thumbHoverRarity {
  0%, 33%, 67%, 100% {
    opacity: 0;
  }

  34%, 66% {
    opacity: 1;
  }
}
@-ms-keyframes thumbHoverRarity {
  0%, 33%, 67%, 100% {
    opacity: 0;
  }

  34%, 66% {
    opacity: 1;
  }
}
@keyframes thumbHoverRarity {
  0%, 33%, 67%, 100% {
    opacity: 0;
  }

  34%, 66% {
    opacity: 1;
  }
}
@-moz-keyframes thumbHoverType {
  0%, 33%, 66% {
    opacity: 0;
  }

  67%, 100% {
    opacity: 1;
  }
}
@-webkit-keyframes thumbHoverType {
  0%, 33%, 66% {
    opacity: 0;
  }

  67%, 100% {
    opacity: 1;
  }
}
@-o-keyframes thumbHoverType {
  0%, 33%, 66% {
    opacity: 0;
  }

  67%, 100% {
    opacity: 1;
  }
}
@-ms-keyframes thumbHoverType {
  0%, 33%, 66% {
    opacity: 0;
  }

  67%, 100% {
    opacity: 1;
  }
}
@keyframes thumbHoverType {
  0%, 33%, 66% {
    opacity: 0;
  }

  67%, 100% {
    opacity: 1;
  }
}
