* {
  box-sizing: border-box;
}
*[draggable=true] img {
  pointer-events: none;
}
body {
  background-color: #555;
}
body triad-table {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
body triad-table board {
  width: 518px;
  height: 556px;
  padding: 74px 55px;
  display: inline-flex;
  flex-flow: row wrap;
  position: relative;
}
body triad-table board:after {
  content: "";
  width: inherit;
  background: url("/images/ui/board-frame.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}
body triad-table board space {
  display: flex;
  position: relative;
  background: url("/images/ui/space.png");
  width: 136px;
  height: 136px;
}
body triad-table board space:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body triad-table board space:nth-child(odd):before {
  background: rgba(0,0,0,0.15);
}
body triad-table board space.blue:before {
  background: rgba(0,0,255,0.15);
}
body triad-table board space.red:before {
  background: rgba(255,0,0,0.15);
}
body triad-table deck {
  display: inline-block;
}
body triad-table deck .deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 312px;
}
body triad-table deck space {
  position: relative;
  width: 104px;
  height: 128px;
  display: inline-block;
}
