vertical-align()
	position relative;
	top 50%
	-webkit-transform translateY(-50%)
	-ms-transform translateY(-50%)
	transform translateY(-50%)

filter(args)
	filter args
	-webkit-filter args

@keyframes cardflip
	from
		transform rotateY(0deg)
	to
		transform rotateY(360deg)	

@keyframes thumbHoverFaces
	0%
	33%
		opacity 1
	34%
	100%
		opacity 0
@keyframes thumbHoverRarity
	0%
	33%
	67%
	100%
		opacity 0
	34%
	66%
		opacity 1
@keyframes thumbHoverType
	0%
	33%
	66%
		opacity 0
	67%
	100%
		opacity 1

// allows any draggable object's images to be undraggable
*
	box-sizing border-box
	&[draggable=true]
		img
			pointer-events none

body
	background-color #555
	triad-table
		display flex
		align-content center
		align-items center
		justify-content center
		margin-top 50px
		board
			width 518px
			height 556px
			padding 74px 55px
			display inline-flex
			flex-flow row wrap
			position relative
			&:after
				  content ""
				  width inherit
				  background url('/images/ui/board-frame.png') no-repeat
				  position: absolute
				  left 0
				  top 0
				  bottom 0
				  pointer-events none
			space
				display flex
				position relative
				background url('/images/ui/space.png')
				width 136px
				height 136px
				&:before
					content ""
					position absolute
					top 0
					left 0
					right 0
					bottom 0
				&:nth-child(odd):before
						background rgba(0, 0, 0, 0.15)
				&.blue:before
						background rgba(0, 0, 255, 0.15)
				&.red:before
						background rgba(255, 0, 0, 0.15)
		deck
			display inline-block
			.deck
				display flex
				flex-flow row wrap
				justify-content center
				width 312px
			space
				position relative
				width 104px
				height 128px
				display inline-block